<h2> Search books</h2>
<form action="/books" method="GET">
<div>
 <label>title</label>  
 <input type="text" name="title" value="<%= searchoptions.title %>">
</div>
<div>
    <label>author</label>  
    <input type="text" name="author" value="<%= searchoptions.author %>">
 </div>
 <button type="submit">Search</button>
</form>
<br>
<div style="display: flex; flex-direction:row; margin: auto;">
 <% books.forEach(book => { %>
  <div style="display: flex; flex-direction:column; margin: auto;">
    <img height="150" width="100" src="<%= book.coverImagePath %>">
     Bookname :<%= book.title %><br>
     author :<%= book.author %><br>
   
      description :<%= book.description %><br>
      <button id="btn">Buy</button>
      <br>
   </div>

 <% }) %>
</div>